version: "3"

services:
  app:
    depends_on:
      - db
    networks:
      - app
    container_name: express-app
    build:
      context: .
      dockerfile: Dockerfile.app
    restart: always
    entrypoint: dockerize -wait tcp://db:3306 -timeout 50s node index.js
    environment:
      - APP_PORT=3001
    expose:
      - 3001
  db:
    image: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: test
    volumes:
      - db:/var/lib/mysql
    networks:
      - app
  nginx:
    depends_on:
      - app
    networks:
      - app
    container_name: nginx
    build:
      context: ./
      dockerfile: Dockerfile.nginx
    image: nginx-custom
    environment:
      - NGINX_PORT=80
      - NGINX_SERVER_NAME=localhost
      - NGINX_PROXY_PASS=http://app:3001/
    ports:
      - "8080:80"
networks:
  app:
    driver: bridge
volumes:
  db:
